[Unit]
Description=Script that allows to keep reading the serial in the specified port and send it to a MQ>
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/home/edintel/Desktop/app/runApp.sh
WorkingDirectory=/home/edintel/Desktop/app
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target
